.bodyIcons {
  height: 35px;
  width: 35px;
}

.rate {
  filter: invert(78%) sepia(31%) saturate(3213%) hue-rotate(2deg) brightness(108%) contrast(89%);
}

.commPic {
  border-radius: 50%;
}

@media only screen and (max-width: 870px) {
  .fa-4x {
    font-size: 2rem !important;
  }
}