.resetPasswordForm {
    position: relative;
    width: auto;
    height: 100%;
    background: #EEEEEE;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 700px;
    &__main{
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 50%;
        margin-left: 25%;
        align: center;
        background: rgb(255, 255, 255);
        padding: 2%;
        }
    }
