$primary-color: #ff0000;
$formwrapbackground: #eeeeee;
$googlebutton: #db3236;
$forma: #6275a8;
$formahover: #283148;
$facebookbtnhover: #4c70ba;
$facebookbtn:#3b5998;
$twitterbtn: #38A1F3;
$formbtn: #367fa9;
$formbtnhover:#3a4769;
$general: #fff;
$formborderactive: #d5d5d5;
$formwrapboxshadow: rgba(0, 0, 0, 0.3);