.continue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  } 
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    font-family: 'PT Serif', serif;
}

.errorBox {
    display: grid;
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: 2px;
    color: #ffffff;
    overflow: hidden;
    background-color: #d24d57;
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 17px;
}

.successBox {
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: 2px;
    color: #ffffff;
    overflow: hidden;
    background-color: rgb(63, 195, 128);
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 17px;
}

@media(max-width: 900px){
    .errorBox
    {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .successBox
    {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
}

