.bodyIcons {
    height: 20px;
    width: 20px;
}

.bodyIcons_rate {
    height: 20px;
    width: 20px;
}

.bodyImg {
    height: 466.5px;
    width: 700px;
}

.image img {
    width: 109%;
    height: 500px;
    border-radius: 8px;
}

.dropdown-links {
    padding-right: 20px;
    margin-left: 0px;
    display: none;
    padding-left: 20px;
    background: #fff;
    box-shadow: -1px 3px 8px 0px #00000038;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-right: 0px;
    position: absolute;
    top: 40px;

}


.dropdown-links>li:nth-of-type(0) {
    margin-bottom: 10px;
}

.dropdown-links>li {
    margin-left: 0px
}

.dropdown-links>li>a {
    cursor: pointer;
    color: #000 !important;
}

.theBodyArticle {
    position: relative;
    width: 65%;
    padding: 0 80px;
    min-height: 300px;
}

.stayTop {
    position: fixed;
    top: 20;
    left: 20;
}

.stayTop2 {
    position: fixed;
    top: 20;
    margin-top: 35px;
}

.stayTop3 {
    position: fixed;
    top: 20;
    margin-top: 65px;
}

.stayTop4 {
    position: fixed;
    top: 20;
    margin-top: 45px;
}

.stayTop5 {
    position: fixed;
    top: 20;
    margin-top: 55px;
}

.stayTop6 {
    position: fixed;
    top: 20;
    margin-top: 55px;
}

.numberLikes {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.68);
}

.colTwo {
    width: 100%;
}

.AI {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 50px;
    margin-left: 10%;
    margin-top: 5%
}

.titleFeedAI {
    font-family: 'Sniglet', cursive;
    font-size: 35px;
}

.modalLikerImg
{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.stayTopNo
{
    position: fixed;
    top: 20;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.stayTopNo2
{
    position: fixed;
    top: 20;
    margin-left: 25px;
    margin-top: 37px;
    cursor: pointer;
}

.tags
{
    padding: 5px 18px;
    background: rgba(0, 0, 0, .05);
    border: none;
    color: rgba(0, 0, 0, .68);
    outline: rgba(0, 0, 0, .05);
    cursor: pointer;
    outline: none;
}

p {
    color: rgba(3, 3, 3, 0.84);
}

.artFooter {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}


.socialNet {
    display: flex;
    flex-direction: row;
}

.sharingIcons {
    margin-left: 65%
}

.bookmarkIcon {
    margin-left: 5px;
}

.profileSection {
    display: flex;
    flex-direction: row;
}

.commPic {
    height: 50px;
    width: 50px;
}

.commentCard {
    background: #eeeeee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px !important;
    margin-top: 20px;
    margin-bottom: 25px;
}

.commentForm {
    background: #eeeeee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px !important;
    margin-top: 30px;
}

.profileName {
    margin-left: 15px;
    margin-top: 10px;
}

.publish {
    margin-top: 30px;
    height: 40px;
    padding: 5px 38px;
    color: #26D07C;
    border: 1px solid #26D07C;
    outline: #26D07C;
    cursor: pointer;
    background: none;
}

.shareIcons {
    margin-left: 10px;
}

.commentFooter {
    margin-left: 80%;
}

.fb {
    filter: invert(33%) sepia(10%) saturate(3382%) hue-rotate(183deg) brightness(93%) contrast(86%);
}

.gp {
    filter: invert(26%) sepia(37%) saturate(5056%) hue-rotate(347deg) brightness(88%) contrast(80%);
}

.tw {
    filter: invert(60%) sepia(44%) saturate(4337%) hue-rotate(182deg) brightness(101%) contrast(91%);
}



.cm {
    filter: invert(91%) sepia(10%) saturate(2196%) hue-rotate(150deg) brightness(92%) contrast(89%);
}

.bm {
    filter: invert(72%) sepia(12%) saturate(2630%) hue-rotate(90deg) brightness(92%) contrast(82%);
}

.rate {
    filter: invert(78%) sepia(31%) saturate(3213%) hue-rotate(2deg) brightness(108%) contrast(89%);
}

.bodyIcons.footerIconsRight.trash {
    filter: invert(26%) sepia(37%) saturate(5056%) hue-rotate(347deg) brightness(88%) contrast(80%);
}

.deleteIcon {
    filter: invert(18%) sepia(70%) saturate(2857%) hue-rotate(354deg) brightness(126%) contrast(90%);
}

.cmBox {
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.ratingSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.ratings {
    margin-left: 15px;
}

.time {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
}

.likeIcon {
    filter: invert(45%) sepia(32%) saturate(5380%) hue-rotate(315deg) brightness(97%) contrast(105%);
}

.tagsArticleFeed {
    display: flex;
    flex-direction: row;
}

.dislike {
    filter: invert(8%) sepia(59%) saturate(4681%) hue-rotate(221deg) brightness(97%) contrast(93%);
}

.restOfIcons {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}

.sharingIcons {
    display: flex;
    flex-direction: row;
}

.commentsZone {
    margin-top: 50px;
}

.tags {
    margin-right: 10px;
    padding: 5px 18px;
    outline: none
}

.colOne {
    margin-top: 150px;
}

.bookmark-header {
    width: 60rem;
    margin: auto;
    color: #384043;
    margin-bottom: 20px;
}

.bookmark-wrapper {
    display: grid;
    justify-items: center;
    grid-gap: 20px;
}

.bookmark-container {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    width: 60rem;
    height: 12rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .2);
}

.bookmarked-article-image>img {
    width: 15rem;
    height: 12rem;
    float: right;
    object-fit: cover;
}

.article-info-bookmark {
    padding: 10px 0 0 40px;
    font-family: Helvetica;
}

.article-info-bookmark h1 {
    color: #41494D;
    overflow: hidden;
    width: 40rem;
    height: 2rem;
    cursor: pointer;
}

.article-info-bookmark h1:hover {
    color: #0d9bc6;
}

.article-info-bookmark p {
    width: 40rem;
    height: 3rem;
    font-size: 14pt;
    overflow: hidden;
}

.btn-remove {
    background: transparent;
    color: rgba(0, 0, 0, 0.24);
    font-family: Helvetica;
    font-weight: 300;
    font-size: 25px;
    margin-left: -10px;
    padding-bottom: 20px;
}

.btn-remove:hover {
    color: #0d9bc6;
}

button.close:focus {
    outline: 0px;
}

.searchBody
{
    margin-left: 6%;
}

.filterContainer {
    margin-top: 100px;
    width: 85%;
    padding-left: 0;
}

.filterList filters {
    display: inline;
    margin-left: 0;
}

.filterList {
    margin-left: 5%;
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.0785);
}

.filters {
    margin-left: 25px;
    color: rgba(0,0,0,.54);
    cursor: pointer;
}

.noResults
{
    text-align: center;
    margin-top: 10%
}

.showResults
{
    margin-left: 5%;
}

.singleSearch
{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 50%;
}

.feedImgSearch
{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.displaySearchImg
{
    margin-top: 20px;
    width:  600px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.articleProf
{
    display: flex;
    flex-direction: row;
}

.searchAD
{
    display: flex;
    flex-direction: column;
}

.textSearchUser
{
    font-size: 16px;
    line-height: 1.4;
    padding-left: 10px;
    color: #0d9bc6;
}

.textSearchDate
{
    font-size: 13px;
    line-height: 1.4;
    padding-left: 10px;
    color: rgba(0,0,0,.54);
}

@media(max-width: 900px) {
    .theBody {
        margin-left: 0px;
    }

    .bodyImg {
        width: 85%;
        height: 300px;
    }

    .colTwo {
        margin-left: 20px;
        width: 85%
    }

    .socialNet {
        margin-left: 25%;
    }

    .commentFooter {
        margin-left: 70%
    }
}

.logout {
    margin-top: -20%;
    margin-left: 60%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    background: #DC143C;
    padding: 5px 18px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .04);
    cursor: pointer;
    color: #ffffff;
}

small {
    cursor: pointer;
}