.singleArticle{
    margin: 0 auto;
    width: 80%;
}

.singleArticle h1{
    margin-top: 20px
}
.singleArticle a button{
    margin: 20px 0px;
}

.articleBody img{
    width: 100%;
    max-height: 100%;
}

.commPic
{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.commentCard
{
    background: #eeeeee;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px !important;
    margin-top: 20px;
    margin-bottom: 25px;
    position: relative;
}

.commentForm
{
    background: #eeeeee;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px !important;
}

.cmBox
{
    background: none;
    border: 1px solid #919191;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.profileName
{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.publish
{
    margin-top: 30px;
    height: 40px;
    padding: 5px 38px;
    color: #26D07C;
    border: 1px solid #26D07C;
    outline: #26D07C;
    cursor: pointer;
    background: none;
}

.commentFooter
{
    margin-left: 80%;
    text-align: right;
}

.bodyIcons
{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.bodyIcons_rate
{
    height: 25px;
    width: 25px;
}

.cm
{
    filter: invert(91%) sepia(10%) saturate(2196%) hue-rotate(150deg) brightness(92%) contrast(89%);
}

.bm
{
    filter: invert(72%) sepia(12%) saturate(2630%) hue-rotate(90deg) brightness(92%) contrast(82%);
}

.bodyIcons.footerIconsRight.trash {
    filter: invert(26%) sepia(37%) saturate(5056%) hue-rotate(347deg) brightness(88%) contrast(80%);
}

.commentFooter img{
  padding: 0px 2px;
}

.comment-field{
 padding: 1em 0px 0px;
 margin: 0px
}

.text-danger{
    color: #721c24;
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    font-size: 14px;
}

.commentForm .publish {
    margin-top: 0px;
}

.comment-date {
    color: gray;
    float: right;
    margin-right: 30px;
}

.comment-body {
    padding: 0;
    margin: 0 0 0 3.6em;
    font-size: 18px;
}

.comment-body input.cmBox {
	width: 93%;
}

.cmBox, .button.x-btn {
    display: inline-block;
    vertical-align: top;
}

button.x-btn {
    height: 40px;
    color: #df2c2c;
    background: transparent;
    width: 40px;
    border: 1px solid #919191;
    border-radius: 5px;
}


.react-confirm-alert-overlay {
    background: transparent;
}

.commentActions .btn-secondary {
    color: #151515 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.commentActions .dropdown {
    margin-top: 0px !important;
}

.commentActions
{
    position: absolute;
    right: 20px;
    z-index: 50000;
    top: 12px;
    margin: 0px;
}

.commentActions .dropdown-menu {
    min-width: 100%;
}

.commentActions .dropdown-menu.show {
    top: -10px !important;
    left: -80px !important;
}

.com-edited {
    color: #555;
    font-size: 12px;
    cursor: pointer;
}

.sub-image, .sub-content {
    display: inline-block;
    vertical-align: top;
}

.sub-image {
    width: 12%;
}

.sub-content {
	padding: 0 0 0 10px;
    margin: 0 0 40px;
    width: 88%;
    text-align: justify;
}

p.sub-body {
	margin-bottom: 0px;
    font-weight: 300;
    font-size: 16px;
    font-family: arial;
}

.sub-time {
	color: grey;
	font-size: 12px;
}
span.sub-username {
    font-weight: 700;
    color: #0f081d;
}

label.tip-mes {
    color: #636060;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.com-footer.modal-footer {
    justify-content: center;
}

button:focus, span:focus{
    outline: none !important;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
}

/* Modify error message on comments */
.commentForm .errorBox,
.comment-body .errorBox{
    background: transparent;
    color: #d24d57;
    text-align: left;
    width: 100%;
    padding-bottom: 0px;
}

.com-hist-body.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.comment-acts {
    margin-bottom: 20px; 
}

.like-comment {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.like-comment img {
    width: 25px;
    height: 25px;
}

.likeImg, .totalLikes {
    display: inline-block;
    vertical-align: top;
}

.totalLikes {
    padding-left: 5px;
    padding-top: 5px;
}