body 
{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    font-family: 'PT Serif', serif;
}

.bounty {
    outline: none;
}

figure {
    height: 500px !important;
    width: 100% !important;
}

p 
{
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;    
}

button a{
    color: inherit !important;
    text-decoration-line: none !important;
}

.logoArticle
{
    width: 200px;
    margin-top: 20px;
}

.man
{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.navbarArticle
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.titleContent
{
    margin-left: 20%;
    width: 60%;
    border-left: 1px solid black;
    padding-left: 5px;
}

.textContent 
{
    margin-left: 20%;
    width: 60%;
    margin-bottom: 150px;
    margin-top: 50px;
}

.publishBtnArticle
{
    margin-top: 20px;
    height: 40px;
    padding: 5px 38px;
    color: #26D07C;
    border: 1px solid #26D07C;
    outline: none !important;
    cursor: pointer;
    background: none;
    margin-left: 40%;
}

.signoutBtn
{
    margin-top: 20px;
    height: 40px;
    padding: 5px 38px;
    color: #ffffff;
    border: 1px solid #d91e18;
    outline: #d91e18;
    cursor: pointer;
    background: #d91e18;
    margin-left: 20px;
}

.draftSpan
{
    margin-left: 20px;
    margin-top: 30px;
}

.logo
{
    font-size: 30px;
}

.text
{
    margin: auto;
    width: 70% !important;
}

.textArea
{
    background: none;
    border: none;
    outline: none;
    font-size: 35px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.ck.ck-content.ck-focused {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ck.ck-content:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

@media(max-width: 900px)
{
    .navbarArticle
    {
        margin-left: 0%;
    }

    .publishBtnArticle
    {
        margin-left: 0%;
        padding: 5px 18px;
    }

    .logoArticle
    {
        width: 50px;
    }

    .textContent
    {
        margin-left: 10px;
        width: 100%;
    }

    .titleContent
    {
        margin-left: 0;
        width: 100%;
    }

    .ck.ck-content:focus
    {
        padding-left: 35px !important;
    }

    .signoutBtn
    {
        padding: 5px 18px;
    }

    .figure
    {
        height: 250px !important;
        width: 80% !important;
    }
}