body 
{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    font-family: 'PT Serif', serif;
}

.bounty {
    outline: none;
    background: #eeeeee;
    width: 80%;
    font-family: 'PT Serif', serif;
    font-size: 35px;
    font-weight: 500;
    border: none;
}

figure {
    height: 500px !important;
    width: 100% !important;
}

.tagInput
{
    background: #eeeeee;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid #367fa9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px !important;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 40px;
    padding: 5px 48px;
    outline: none;
    margin-left: 30%;
}

.spanCA
{
    margin-left: 10px;
    margin-top: 25px;
}

.tagsArticle
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 100px;
    margin-left: 100px;
}

p 
{
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;    
}

button a{
    color: inherit !important;
    text-decoration-line: none !important;
}

.logoArticle
{
    width: 200px;
    margin-top: 20px;
}

.articleCreationDiv
{
    display: grid;
    grid-template-columns: 25% 75%;
}

.tagCA
{
    font-weight: 400;
    color: #000;
    font-size: 15px;
    letter-spacing: 0;
    text-decoration: none;
    background: #fff;
    border: 1px solid #f0f0f0;
    padding: 5px 10px;
}

.theTags
{
    display: grid;
    grid-template-columns: 90% 10%;
    width: 250px;
    margin-bottom: 10px;
}

.tagClose
{
    border: none;
    font-size: 15px;
    background: #d91e18;
    padding: 5px 10px;
    color: #fff;
}

.tagsArticle
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.man
{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.navbarArticle
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.titleContent
{
    width: 60%;
    border-left: 1px solid black;
    padding-left: 5px;
    margin-top: 50px;
}

.textContent 
{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 150px;
}

.publishBtnArticle
{
    margin-top: 20px;
    height: 40px;
    padding: 5px 38px;
    color: #26D07C;
    border: 1px solid #26D07C;
    outline: none !important;
    cursor: pointer;
    background: none;
    margin-left: 1%;
}

.signoutBtn
{
    margin-top: 20px;
    height: 40px;
    padding: 5px 38px;
    color: #ffffff;
    border: 1px solid #d91e18;
    outline: #d91e18;
    cursor: pointer;
    background: #d91e18;
    margin-left: 20px;
}

.draftSpan
{
    margin-left: 20px;
    margin-top: 30px;
}

.cADW
{
    margin-left: 10px;
    margin-top: 25px;
}

.logo
{
    font-size: 30px;
}

.text
{
    margin: auto;
    width: 70% !important;
}

.textArea
{
    background: none;
    border: none;
    outline: none;
    font-size: 35px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.ck.ck-content.ck-focused {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ck.ck-content:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

@media(max-width: 900px)
{
    .navbarArticle
    {
        margin-left: 0%;
    }

    .publishBtnArticle
    {
        margin-left: 0%;
        padding: 5px 18px;
    }

    .logoArticle
    {
        width: 50px;
    }

    .textContent
    {
        margin-left: 10px;
        width: 100%;
    }

    .titleContent
    {
        margin-left: 0;
        width: 100%;
    }

    .ck.ck-content:focus
    {
        padding-left: 35px !important;
    }

    .signoutBtn
    {
        padding: 5px 18px;
    }

    .figure
    {
        height: 250px !important;
        width: 80% !important;
    }
}