.lgBtn {
   -webkit-border-radius: 36px;
   border-radius: 36px;
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
   box-shadow: 0 1px 4px rgba(0,0,0,.04);
   background: none;
   padding: 10px 28px;
   height: 40px;
   outline: none;
   border: 1px solid rgba(0,0,0,.04);
   cursor: pointer;
   margin-right: 10px;
   color: #fff;
}
.dropdown-links {
   margin-left: 0px;
   display: none;
   padding-left: 20px;
   padding-right: 20px;
   background: #fff;
   box-shadow: -1px 3px 8px 0px #00000038;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 4px;
   margin-right: 0px;
   position: absolute;
   top: 40px;
   right: 160px;

}
textarea {
   resize: none;
 }

.logo.dash-logo {
   width: 220px;
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
}

.dropdown-links > li:nth-of-type(0) {
   margin-bottom: 10px;
}
.dropdown-links > li {
   margin-left: 0px
}
.dropdown-links > li > a {
   cursor: pointer;
   color: #000 !important;
}
.userProfile
{
   display: block;
   width: 70%;
   background: #fff;
   box-shadow: rgba(57, 73, 76, 0.4) 0px 1px 5px 1px, rgba(57, 73, 76, 0.25) 0px 1px 1px;
   margin-left: 15%;
   padding: 25px;
   margin-top: 25px;
}

.img-circle {
   border-radius: 50%;
   height: 250px; 
   width: 250px;
}

.edit-img{
   height: 200px;
   width: 200px;
}

.fb
{
    filter: invert(33%) sepia(10%) saturate(3382%) hue-rotate(183deg) brightness(93%) contrast(86%);
}

.tw
{
    filter: invert(60%) sepia(44%) saturate(4337%) hue-rotate(182deg) brightness(101%) contrast(91%);
}

.inst
{
    filter: invert(40%) sepia(28%) saturate(872%) hue-rotate(164deg) brightness(95%) contrast(89%);
}

.form-control
{
   box-shadow: inset 0 1px 3px #EBECF0;
   border: 1px solid rgb(157, 166, 180);
   border-radius: 3px;
   box-sizing: border-box;
   color: #091E42;
   font-size: 14px;
   margin-bottom: 24px;
   outline-color: #091E42;
   padding: 0 8px;
   height: 40px;
   font-family: 'Bitter', serif;
   max-width: 100%;
}
.upBtn
{
   border-radius: 3px;
   margin-bottom: 24px;
   margin-left: 90px;
   width: 200px;
   height: 50px;
   color: #fff;
   font-family: 'Bree Serif', serif;
   font-size: 15px;
   cursor: pointer;
   border: none;
   padding: 10px;
   box-shadow: #367fa9 0px 1px 5px 1px, #367fa9 0px 1px 1px;
   outline-color: #367fa9;
   background: #367fa9;
}
.avatar
{
   height: 120px;
   width: 20%;
   margin-bottom: 5px;
   padding: 1px;
}
.firstForm
{
   display: flex;
   flex-direction: row;
   margin-top: 25px;
}

.right
{
   margin-left: 150px;
   margin-bottom: 30px;
}

.right1
{
    margin-left: 100px;
    margin-bottom: 30px;
}

.profName
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

.profBio
{
   font-size: 15px;
}

.ed
{
    margin-left: 15px;
}

.updateBtn1
{
   text-align: center;
   border-radius: 3px;
   margin-bottom: 24px;
   margin-left: 610px;
   width: 10%;
   color: #fff;
   font-family: 'Bree Serif', serif;
   font-size: 15px;
   cursor: pointer;
   border: none;
   padding: 11px 28px;
   outline-color: #367fa9;
   background: #367fa9
}
.updateBtn2
{
   text-align: center;
   border-radius: 3px;
   margin-bottom: 24px;
   margin-left: 200px;
   width: 20%;
   color: #fff;
   font-family: 'Bree Serif', serif;
   font-size: 15px;
   cursor: pointer;
   border: none;
   padding: 10px 10px;
   outline-color: #367fa9;
   background: #367fa9
}
@media(max-width: 900px)
{
   body
   {
       margin: 0;
   }
   .avatar
   {
       width: 200px;
       height: 150px;
   }
   .firstForm
   {
       flex-direction: column;
   }
   .upBtn
   {
       width: 200px;
       padding: 5px 38px;
   }
   .form-control
   {
       width: 50%;
       margin-left: 20px;
   }
}

body
{
   position: relative;
   width: 100%;
   height: 100%;
   background: #EEEEEE;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

.logo
{
   height: 50px;
   width: 220px;
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
}

.navbar
{
   top: 0 !important;
   position: fixed !important;
   width: 100%;
   height: 75px;
   background: #367fa9;
   padding-top: 0;
   padding-bottom: 0.5%;
   display: flex;
   flex-direction: row;
   color: #ffffff;
   z-index: 1800;
}

.navbar ul li a{
   color: #ffffff;
   text-decoration: none;
   margin-top: 0.5%;
}

.restOfNav
{
   margin-right: 7%;
   display: flex;
   flex-direction: row;
   margin-bottom: 1%;
}

.navName
{
   margin-left: 10px;
   font-size: 12px
}

ul li
{
   display: inline;
}

ul
{
   margin-left: 0px;

}

.navIcons
{
   width: 15px;
   height: 15px;
}

.navIconColor
{
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
   margin-left: 20px;
   margin-top: 5px;
}

.manIcon
{
   margin-left: 25px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-top: 0px;
}

.navIconSmall
{
   width: 10px;
   height: 10px;
   margin-left: 5px;
}

.stats
{
   display: flex;
   flex-direction: row;
   margin-top: 25px;
}

.card-shadow
{
   display: flex;
   flex-direction: row;
   margin-left: 100px;
}

.card-right
{
   background: #FFFFFf;
   height: 120px;
   width: 210px;
   text-align: center;
   margin-left: 0px;
}

.intro
{
   display: flex;
   flex-direction: row;
   margin-left: 7%;
   margin-top: 20px;
}

.btn
{
   margin-top: 2%;
   background: #367fa9;
   height: 40px;
   padding: 5px 38px;
   color: #ffffff;
   border: none;
   outline: #367fa9;
   cursor: pointer;
}

.statIcons
{
   width: 20px;
   height: 20px;
}

.statContainer
{
   background: #367fa9;
   margin-bottom: 50px;
   padding: 47.5px;
   cursor: pointer;
}

.statIconColor
{
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
}

.article-card
{
   background: #ffffff;
   padding: 10px;
   width: 18%;
   margin-right: 50px;
}

.terImg
{
   width: 100%;
   height: 180px;
}

.readBtn
{
   margin-top: 2%;
   height: 40px;
   padding: 5px 38px;
   color: #71C5EA;
   border: 1px solid #71C5EA;
   outline: #71C5EA;
   cursor: pointer;
   background: none;
}

.readBtn:hover
{
   background: #71C5EA;
   color: #ffffff;
}

@media(max-width: 900px)
{
   .navbar
   {
       width: 100%;
   }

   ul li
   {
       display: none;
   }

   .disappear
   {
       display: none;
   }

   .restOfNav
   {
       margin-left: 0%;
   }

   .logo
   {
       width: 120px;
       margin-left: 0;
   }

   .intro
   {
       flex-direction: column;
   }

   .btn
   {
       margin-left: 0%;
       width: 200px;
   }

   .stats
   {
       flex-direction: column;
   }

   .card-shadow
   {
       margin-left: 7%;
   }

   .article-card
   {
       width: 85%;
       margin-bottom: 50px;
   }
}

.followerImage{
   width: 80px;
   float: left;
   margin-left: 30px;
   margin-right: 10px;
   padding-top: 10px
}
.followUser{
   width: 100%;
   min-height: 100px;
   float: left;
   clear: both;
   border-bottom: 1px solid #d7e9f3;
}

.followUsername{
   margin-top: 40px;
}
.ImageUrl{
   width: 80px;
   border-radius: 50px;
   height: 80px;
}
.BtnClose {
float: right;
}

button.close:focus { 
   outline: 0px;
}

.flow-btn{
   width: 100px;
   height: 40px;
}

.user-image, .flow-btn {
   display: inline-block;
   vertical-align: top;
}

.user-image{
   width: 70%;
}

.flow-btn {
   margin: 30px 0px;
}

.title-follow .modal-title {
   width: 100%;
   margin-right: 10px
}
